extends ../layout_auth

append content
    div.row
        div.col-sm-3
        div.col-sm-6
            h2 Welcome to 2FA App
            p You are now logged in securly
            a.btn.btn-info.center-block(href="/logout") Logout
        div.col-sm-3
