extends ../layout_reg

append content
    h2 Welcome to 2FA App
    p To get started please register with your phone number
    div.row
        div.col-sm-2
        div.col-sm-3
            a.btn.btn-info.center-block(href="/login") Login
        div.col-sm-2
        div.col-sm-3
            a.btn.btn-primary.center-block(href="/register") Register
        div.col-sm-2
